---
import Cart from '../icons/Cart.astro';
import User from '../icons/User.astro';
---
<header class="bg-white  text-white p-4">
	<nav class="flex justify-between items-center ml-96 mr-28">
		<a href="/" class="text-2xl font-bold text-black">Ecommerce</a>
        <ul class="flex gap-4 text-black" >
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/">News</a>    
            </li>
            <li>
                <a href="/products">Products</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>

            <li>
               <button class="hover:border-gray-200 hover:border-2 rounded-md p-1">
                <Cart />
               </button>
            </li>
            <li>
                <button class="hover:border-gray-200 hover:border-2 rounded-md p-1">
                    <User />
                </button>
            </li>
        </ul>
    </nav>
</header>
